*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.navbar{
display: flex;
align-items: center;
justify-content: center;
position: sticky;
top: 0;
cursor: pointer;
background-color: gray;
}
.logo{
width: 20%;
display: flex;
justify-content: center;
align-items: center;

}

.logo img{
    width:50%;
border: 3px solid white;
border-radius: 50px;
}
.nav-list{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.nav-list li{
list-style: none;
padding: 36px 3px;

}

.nav-list li a{
text-decoration: none;
color: white;

}
.rightnav{
  
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.rightnav li{
    list-style: none;
padding: 29px 30px;
}

.rightnav li a{
text-decoration: none;
color: white;

}
.rightnav li a:hover{
    
    text-decoration: none;
    color:violet;
    border-bottom: inset;
    }

.background{
background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
background-size: cover;
background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}




.box-main{
display: flex;
justify-content: center;
align-items: center;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 50%;
margin: auto;
height: 80%;
}

.firstHalf{
width: 80%;
display: flex;
justify-content: center;
flex-direction: column;


}

.secondHalf{
width: 30%;

}

.secondHalf img{
width: 70%;
border: 4px solid white;
border-radius: 150px;
display: block;
margin: auto;

}

.text-big{
font-size: 50px;
text-align: center;

}


.text-small{

font-size: 25px;

}

.btn{
padding: 8px 20px;
margin: 7px 3px;
border: 2px solid white;
border-radius: 8px;
background: none;
color: white;
cursor: pointer;


}

.section{
height: 500px;
display: flex;
align-items: center;
justify-content: space-evenly;
max-width: 80%;
margin: auto;
}


.section-left{
   
flex-direction: row-reverse;
}



.text-small{
font-size: 25px;

}


.progress{
    position: relative;
width: 210px;
height: 30px;
background:gray;
border-radius: 5px;
overflow: hidden;
}
.progress__fill{
width: 0%;
height: 100%;
background: black;

}
.progress__text{
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 5px;
font: bold 14px 'Quicksand', sans-serif;
color: white;

}


.progress2{
    position: relative;
width: 210px;
height: 30px;
background:gray;
border-radius: 5px;
overflow: hidden;
}
.progress2__fill{
width: 0%;
height: 100%;
background: black;

}
.progress2__text{
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 5px;
font: bold 14px 'Quicksand', sans-serif;
color: white;

}
.progress3{
    position: relative;
width: 210px;
height: 30px;
background:gray;
border-radius: 5px;
overflow: hidden;
}
.progress3__fill{
width: 0%;
height: 100%;
background: black;

}
.progress3__text{
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 5px;
font: bold 14px 'Quicksand', sans-serif;
color: white;

}